body {
    background-color:  #d3d3d396;
  }

img {
    width: 250px;
    height: auto;
}

p {

    font-family: 'Times New Roman', Times, serif;
    
    }

h1 { font-size: 750% }

th, td {
    padding: 10px;
  }

img{

    border-radius: 50%;
}

table{
    border-left: 5px;
}

.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 22%;
    position: fixed;
   }

img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);
    transition: 0.5s;
}

:root {
	--transform-value: -100%;
	--animation-duration: 1s;
	--animation-ease: ease-in;
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
	position: fixed;
	width: 50vw;
	height: 100vh;

	top: 0;

	border: .25em solid #ffffff00;
	background: linear-gradient(to right, #3700ffbb 100%,#ffffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	z-index: 123456;
}

[data-animation*='first'] div:first-child {
    left: 0;

    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
